<% provide(:title, "Home") %>

<% if logged_in %>
  <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
    </aside>
  </div>
  <% else %>
<div class="jumbotron">
  <h1>
    Welcome to the sample application
  </h1>
  <h2>
    This is the home page for the <a href = "http: //www.railsturoial.org/"> Ruby on Rails Tutorial </a>
  </h2>
  <%= link_to "Sign up now!", "/signup", class: "btn btn-lg btn-primary"%>

</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<% end %>
